{% extends "base.html" %}
{% block title %}Create Meal Plan{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_inline %}
    <div class="container mt-5" >
        <form method="post">
            {{ form.csrf_token }}
            <dl>
                {{ field_inline(form.email) }}
                {{ field_inline(form.meal_plan) }}
                {{ field_inline(form.plan_type) }}
            </dl>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}
