{% extends "base.html" %}
{% block title %}Create Meal Plan{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_stacked %}
    <div class="container mt-5" >
        <div class="row card">
            <div class="card-body">
                <h2>Create a Meal Plan</h2>
                <div class="col">
                    <form method="post" class="needs-validation" novalidate>
                        {{ form.csrf_token }}
                        {{ field_stacked(form.email) }}
                        {{ field_stacked(form.meal_plan) }}
                        {{ field_stacked(form.plan_type) }}
                        <input type="submit" value="Register" class="btn btn-primary float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
