{% extends "base.html" %}
{% block title %}Manage Packages{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_stacked, field_plain %}
    <div class="container mt-5" >
        <div class="row card">
            <div class="card-body">
                <h2>Add Package</h2>
                <div class="col">
                    <form method="post" name="Add Form">
                        {{ add_form.csrf_token }}
                        {{ field_stacked(add_form.recipient_email) }}
                        {{ field_stacked(add_form.description) }}
                        <input type="submit" value="Add Package" name="add_btn" class="btn btn-primary float-right">
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Package List:</h3>
                <table class="table table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Recipient</th>
                            <th scope="col">Email</th>
                            <th scope="col">{{ edit_form.checked_by.label }}</th>
                            <th scope="col">{{ edit_form.checked_at.label }}</th>
                            <th scope="col">{{ edit_form.is_signed.label }}</th>
                            <th scope="col">{{ edit_form.signed_at.label }}</th>
                            <th scope="col">{{ edit_form.description.label }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for (package, recipient, checker) in packages_recipients_checkers %}
                            <tr>
                                <form method="post" name="Edit Form" id="edit-package-submit">
                                    {{ edit_form.csrf_token }}
                                    {{edit_form.package_id(value=package.id, type="hidden")|safe}}
                                    {{edit_form.recipient_id(value=package.recipient_id, type="hidden")|safe}}
                                    <td>{{ recipient.first_name + " " + recipient.last_name }}</td>
                                    <td>{{ field_plain(edit_form.recipient_email, value=recipient.email) }}</td>
                                    <td>{{ checker.first_name + " " + checker.last_name }}</td>
                                    <td>{{ package.checked_at }}</td>
                                    <td>{{ package.is_signed }}</td>
                                    <td>{{ package.signed_at }}</td>
                                    <td>{{ field_plain(edit_form.description, value=package.description) }}</td>
                                    <td><input type="submit" value="Submit" name="edit_btn" class="btn btn-secondary"></td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
