{% extends "base.html" %}
{% block title %}Manage Residents{% endblock %}
{% block head %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_inline %}
    <div class="container mt-5" >
        <h2>Register Resident</h2>
        <div class="row card" >
            <div class="card-body"
                <div class="col" >
                    <form method="post", name="Register Form">
                        {{ field_inline(register_form.email) }}
                        {{ field_inline(register_form.first_name) }}
                        {{ field_inline(register_form.last_name) }}
                        <input type="submit" value="Register Resident" name="register_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" >
    <table>
        <tr>
            <th>{{edit_form.email.label}}</th>
            <th>{{edit_form.first_name.label}}</th>
            <th>{{edit_form.last_name.label}}</th>
            <th>{{edit_form.room_number.label}}</th>
            <th></th>
            <th></th>
        </tr>
	{% for (resident, user) in residents %}
        <tr>
            <form method="post" name="Edit Form" id="edit-resident-submit">
                {{ edit_form.user_id(value=user.id, type="hidden")      |safe }}
                <td>{{ edit_form.email(value=user.email)                |safe }}</td>
                <td>{{ edit_form.first_name(value=user.first_name)      |safe }}</td>
                <td>{{ edit_form.last_name(value=user.last_name)        |safe }}</td>
                <td>{{ edit_form.room_number(value=resident.room_number)|safe }}</td>
                <td><input type="submit" value="Update Row" name="edit_btn"></td>
                <td><input type="submit" value="Delete" name="delete_btn"></td>
            </form>
        </tr>
	{% endfor %}
    </table>
    </div>
{% endblock %}
