{% extends "base.html" %}
{% block title %}Meal Plans{% endblock %}
{% block content %}
{% from "_formhelper.html" import field_stacked, field_plain %}
    <script src="{{ url_for('static', filename="js/autocomplete.js") }}"></script>
    <div class="container mt-5" >
        <div class="row card">
            <div class="card-body">
                <h2>Create a Meal Plan</h2>
                <div class="col">
                    <form method="post" Name="Create Form" class="needs-validation" novalidate>
                        {{ create_form.csrf_token }}
                        {{ field_stacked(create_form.email) }}
                        {{ field_stacked(create_form.meal_plan) }}
                        {{ field_stacked(create_form.plan_type) }}
                        <input type="submit" value="Register" name="create_btn" class="btn btn-primary float-right">
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <table style="width:100%" class="table table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:10%" scope="col">Pin</th>
                            <th style="width:30%" scope="col">User Email</th>
                            <th style="width:10%" scope="col">Credits</th>
                            <th style="width:10%" scope="col">Meal Plan</th>
                            <th style="width:20%" scope="col">Plan Type</th>
                            <th style="width:10%" scope="col"></th>
                            <th style="width:10%" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for (edit_form, meal_plan, email) in form_data %}
                        <tr>
                            <form method="post" name="Edit Form" id="edit-manager-submit" class="needs-validation" novalidate>
                                {{ edit_form.csrf_token }}
                                {{ field_plain(edit_form.pin, value=meal_plan.pin) }}
                                <td> {{ meal_plan.pin }} </td>
                                <td>{{ email }}</td>
                                <td>{{ field_plain(edit_form.credit, value=meal_plan.credits) }}</td>
                                <td>{{ field_plain(edit_form.meal_plan, value=meal_plan.meal_plan) }}</td>
                                <td>{{ field_plain(edit_form.plan_type)}}</td>
                                <td>{{ field_plain(edit_form.update_button, class="btn btn-secondary") }}</td>
                                <td>{{ field_plain(edit_form.delete_button, class="btn btn-secondary") }}</td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
