{% extends "base.html" %}
{% block title %}Manage Residents{% endblock %}
{% block head %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5" >
    <table>
        <tr>
            <th>{{form.email.label}}</th>
            <th>{{form.first_name.label}}</th>
            <th>{{form.last_name.label}}</th>
            <th>{{form.room_number.label}}</th>
            <th></th>
        </tr>
	{% for (resident, user) in residents %}
        <tr>
            <form method="post" id="edit-resident-submit">
                {{ form.user_id(value=user.id, type="hidden")      |safe }}
                <td>{{ form.email(value=user.email)                |safe }}</td>
                <td>{{ form.first_name(value=user.first_name)      |safe }}</td>
                <td>{{ form.last_name(value=user.last_name)        |safe }}</td>
                <td>{{ form.room_number(value=resident.room_number)|safe }}</td>
                <td><input type="submit" value="Update"></td>
            </form>
        </tr>
	{% endfor %}
    </table>
    </div>
{% endblock %}
