{% extends "base.html" %}
{% block title %}Meals{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_inline %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div class="form-row">
                    <div class="col">
                        <form method="post" action="/manager/meal_login/" class="form-inline needsvalidation" novalidate>
                            {{ form.csrf_token }}
                            {{ field_inline(form.pin) }}
                            <button type="submit" class="btn btn-primary float-right ml-4">Sign-in</button>
                        </form>
                    </div>
                    {% if (not no_login) and show_undo %}
                        <div class="col-3">
                            <form method="post" action="/manager/meal_undo/" class="form-inline">
                                {{ form.csrf_token }}
                                <input type="submit" value="Undo" name="undo" class="btn btn-secondary float-right">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                {% if not no_login %}
                    <center><img id="profile_image" src="data:image/png;base64,{{ pict }}" class="rounded img-thumbnail" height="200" width="200"></center>
                    <center><p>{{ name }} has {{ current_meals }} of {{ max_meals }} meals remaining.</p></center>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
