{% extends "base.html" %}
{% block title %}Register Resident{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_inline %}
    <div class="container mt-5" >
    <h2>Register Resident</h2>
        <div class="row card" >
            <div class="card-body"
                <div class="col" >
                    <form method="post">
                            {{ field_inline(form.email) }}
                            {{ field_inline(form.first_name) }}
                            {{ field_inline(form.last_name) }}
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
