{% extends "base.html" %}
{% block title %}Register Room{% endblock %}
{% block content %}
{% from "_formhelper.html" import field_stacked %}
    <div class="container card mt-5" >
        <div class="row card-body" >
            <div class="col" >
                <form method="post">
                    {{ form.csrf_token }}
                    <dl>
                        {{ field_stacked(form.room_number) }}
                        {{ field_stacked(form.room_status) }}
                        {{ field_stacked(form.room_type) }}
                        {{ field_stacked(form.occupants) }}
                    </dl>
                    <input type="submit" value="Register" id="register_room">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
