{% extends "base.html" %}
{% block title %}Edit profile - {{ profile.preferred_name }}{% endblock %}
{% block content %}
    {% from "_formhelper.html" import field_inline %}
    <div class="container card mt-5" >
        <div class="row card-body" >
            <div class="col-3 card-img-left" >
                <img src="data:image/png;base64,{{ pict }}" class="rounded" height="200" width="200">
                <form method="post" value="Upload picture" enctype="multipart/form-data" >
                    {{ picture_form.csrf_token }}
                    {{ picture_form.profile_picture()|safe }}
                    <input type="submit" value="Upload Picture" >
                </form>
            </div>
            <div class="col-9" >
                <form method="post">
                    {{ profile_form.csrf_token }}
                    {{ field_inline(profile_form.preferred_name) }}
                    {{ field_inline(profile_form.phone_number) }}
                    {{ field_inline(profile_form.preferred_email) }}
                    {{ field_inline(profile_form.race) }}
                    {{ field_inline(profile_form.gender) }}
                    <input type="submit" id="submit_changes" value="Submit Changes">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

