{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
  {% if form %}
  <div class="container mt-5" >
      {% from "_formhelper.html" import field_inline %}
      <form method="post">
        {{ form.csrf_token }}
        <dl>
            {{ field_inline(form.password) }}
        </dl>
        <dl>
            {{ field_inline(form.confirm) }}
        </dl>
        <input type="submit" value="Reset Password">
      </form>
  </div>
  {% endif %}
{% endblock %}
